@charset "utf-8";

$primary-color: #242f9b;
$error-color: #ff3333;
$text-color: #555555;
$white-color: #ffffff;

.edit-task {
  width: 1000px;
  margin: 0 auto;

  &-form {
    color: $text-color;
  }

  &-title,
  &-detail {
    width: 300px;
    margin-bottom: 25px;
  }

  &-button {
    width: 80px;
    height: 40px;
    border-radius: 5px;

    &.delete-task {
      color: $error-color;
      border: solid 1px $error-color;
      margin: 25px 5px;
    }

    &.edit-task {
      background-color: $primary-color;
      color: $white-color;
    }
  }

  .error-message {
    color: $error-color;
  }
}